<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Stastic/CSS/1_style_home.css">
</head>
<body>


    <input type="checkbox" id="burger" class="toggle-input">
    <label for="burger">☰</label>
    <nav>
        <ul class = "nav-item">
            <li><a class="nav-link" href="/Templates/1_Home.html">Головна</a></li>
            <li><a class="nav-link" href="/Templates/2_About_us.html">Про нас</a></li>
            <li><a class="nav-link" href="/Templates/contact.html">Контакти</a></li>
            <li><a class="nav-link" href="/Templates/Shop.html">Магазин</a></li>
            <li><a class="nav-link" href="/Templates/gallery.html">Галерея</a></li>
        </ul>
    </nav>

    <button class="button sing_in">Увійти</button>
    <button class="button sing_up">Реєстрація</button>
    <!-- PC -->
    <img src="/Stastic/Photo/home/Bg-Pic.png" alt="Background" class="PC_back">
    <img src="/Stastic/Photo/home/hero-pic.png" alt="pict" class = "photo">

    <!-- Mobile -->
    <img src="/Stastic/Photo/home/bg.png" alt="" class="mob_back">
    <img src="/Stastic/Photo/home/hero-pic.png" alt="" class="mob_pic">
    <img src="/Stastic/Photo/home/logo_mob.png" alt="" class="mob_logo">
 
</body>
</html>


