
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Stastic/CSS/2_style_us.css">
<title>About Us</title>
</head>
<body>
<!-- PC -->
<div class="about-us">
    <img src="/Stastic/Photo/about_us/divider.png" alt="shapka" class="divider"></div>
    <img src="/Stastic/Photo/about_us/photo.png" alt="photo" class="photo"></img>
    <p class="text-about">
        У компанії "Honey Farm" ми прагнемо забезпечити наших клієнтів медом найвищої якості безпосередньо з наших бджолиних ферм. 
        Наш шлях розпочався багато років тому, коли наші засновники, група відданих бджолярів, вирішили створити компанію, яка не лише постачатиме винятковий мед, 
        але й підтримуватиме сталі практики бджільництва.
    </p>
    <a href="/Templates/3_About_us2.html"><button class="button-1">Більше</button></a>
</div>


<!-- MB -->
<div class="about-us">
    <div class="group-8-1"></div>
    <div class="button-1"></div>
</div>

    <div class="elipse"></div>
    <img src="/Stastic/Photo/home/logo_mob.png" alt="" class="mob_logo">
    <img class="div_mob" src="/Stastic/Photo/about_us/divider_mobile.png" alt="">
    <p class="text">У компанії "Honey Farm" ми прагнемо забезпечити наших клієнтів 
        медом найвищої якості безпосередньо з наших бджолиних ферм. 
        Наш шлях розпочався багато років тому, 
        коли наші засновники, група відданих бджолярів, вирішили створити компанію, 
        яка не лише постачатиме винятковий мед, але й підтримуватиме сталі практики бджільництва.</p>
    <img class="photo_mobile" src="/Stastic/Photo/about_us/photo_mobile.png" alt="">
</body>
</html>
