<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Stastic/CSS/3_style_us2.css">
</head>
<body>

<!-- All platform -->
<div class="footer-frame">
    <div class="column">
        <div class="row">
            <span>Про нас</span>
            <a class="row_2" href="/Templates/2_About_us.html"><span>Про нас</span></a>
        </div>
        <div class="row">
            <span>Купити</span>
            <a class="row_2" href="/Templates/Shop.html"><span>Магазин</span></a>
        </div>
        <div class="row">
            <span>Зв'язок</span>
            <a class="row_2" href="/Templates/contact.html"><span>Форма</span></a>
        </div>
    </div>
</div>

<!-- PC -->

<div>
    <img class="back" src="/Stastic/Photo/under/Backgorund.png" alt="">
    <img class="picture" src="/Stastic/Photo/under/picture.png" alt="">
    <img class="logo" src="/Stastic/Photo/under/logo.png" alt="">
</div>

<div class="about-us">
    <img src="/Stastic/Photo/about_us/divider.png" class="divider" alt="back" >
    <!-- <a href="https://www.youtube.com/watch?v=5wgCwre0g0g&ab_channel=WhiteHouseontheHill">
        <img class="video" src="/Stastic/Photo/about_us/Group yt.png" alt="back">
    </a> -->
    <iframe class="video" src="https://www.youtube.com/embed/5wgCwre0g0g?si=gamIl4ZjEL8bxv5u&autoplay=1&mute=1&controls=0&disablekb=1&loop=1&modestbranding=1" title="YouTube video player" allow="autoplay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h1 class="text">Наші досягнення</h1>
    <p class="text_2">Запрошуємо вас приєднатися до віртуального туру на нашу медову ферму, 
        щоб на власні очі побачити, як ми виробляємо наш мед преміум-класу. Наше відео демонструє щоденну роботу наших бджолярів та турботу, яку вони надають нашим бджолам.
        Ви побачите, як ми дбайливо збираємо мед, гарантуючи, що наші бджоли не постраждають і що наш мед буде найвищої якості.</p>
</div>

<!-- Mobile -->
<div class="figure"></div>
<img class="pict_mob" src="/Stastic/Photo/about_us/ab_2_pict.png" alt="">
<img class="logo_mob" src="/Stastic/Photo/home/logo_mob.png" alt="">

</body>
</html>
