<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Stastic/CSS/style_gallery.css">
</head>
<body>

    <img class="divider" src="/Stastic/Photo/gallery/divider.png" alt="">
    
    <div class="photos">
        <img class="image" src="/Stastic/Photo/gallery/photo_1.png" alt="">
        <img class="image" src="/Stastic/Photo/gallery/photo_2.png" alt="">
        <img class="image" src="/Stastic/Photo/gallery/photo_3.png" alt="">
    </div>

    <div class="navi">
        <button class="left_b"></button>
        <button class="right_b"></button>
    </div>

    <!-- Mobile -->
    <img class="div_mob" src="/Stastic/Photo/gallery/div_mob.png" alt="">
    <div class="mob_photo">
        <img class="png_mob" src="/Stastic/Photo/gallery/ph_5_mob.png" alt="">
        <img class="png_mob" src="/Stastic/Photo/gallery/ph_6_mob.png" alt="">
    </div>
</body>
</html>
