
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Stastic/CSS/style_shop.css">

</head>
<body>

<!-- mobile --> 
 <img class="div_mob" src="/Stastic/Photo/shop/div_mob.png" alt="">
    <div class="shop-card-mob">
        <img class="pict" src="/Stastic/Photo/shop/Shop_card_mob.png" alt="">
        <img class="honey" src="/Stastic/Photo/shop/pic-shop.png" alt="">
        <p class="Name">Fireweed Blossom Honey</p>
        <p class="text">Aромат: мед має ніжний, солодкий смак з ледь вловимими квітковими нотками. 
            Він має гладку кремову текстуру, яка тане в роті.   
            Корисні властивості - мед багатий на антиоксиданти, вітаміни та мінерали. 
            Він має антибактеріальні та протизапальні властивості, що робить його природним засобом від болю в горлі, кашлю та застуди.
        </p>
        
        <div class="info-container">
            <div class="info-content">
                <div class="aroma">
                    <span class="label">Аромат:</span>
                    <span class="value">Квітковий</span>
                </div>
                <div class="region">
                    <span class="label">Регіон:</span>
                    <span class="value">Волинь</span>
                </div>
                <div class="price">
                    <span class="label">Ціна:</span>
                    <span class="value">$300</span>
                </div>
            </div>
        </div>
        
        
        <p class="Size">Розмір:</p>
        
        <div class="button">
            <img src="/Stastic/Photo/shop/big-jar.png" class="size_b"></img>
            <img src="/Stastic/Photo/shop/middle-jar.png" class="size_m"></img>
            <img src="/Stastic/Photo/shop/small-jar.png" class="size_s"></img>
        </div>



        <button class="but_mob">Додати в корзину</button>
    </div>


<!-- PC -->
<header>
    <img class="divider" src="/Stastic/Photo/shop/divider.png" alt="">
</header>

<div class="content">
    <div class="shop-container">
        <div class="shop-card">
            <!-- <img class="back-pict" src="/Stastic/Photo/shop/shopping-card_back.png" alt="Background"> -->
            <img class="pict" src="/Stastic/Photo/shop/pic-shop.png" alt="Photo">
            <!-- <p class="text">Aромат: мед має ніжний, солодкий смак з ледь вловимими квітковими нотками. 
                Він має гладку кремову текстуру, яка тане в роті.   
                Корисні властивості - мед багатий на антиоксиданти, вітаміни та мінерали. 
                Він має антибактеріальні та протизапальні властивості, що робить його природним засобом від болю в горлі, кашлю та застуди.</p> -->
            <div class="card-container">
                <div class="about-container">
                    <div class="info">
                        <div class="color">
                            <div class="aroma">Аромат:</div>
                            <p class="aroma-value">Квітковий</p>
                        </div>
                        <div class="region">
                            <div class="region-label">Регіон:</div>
                            <p class="region-value">Волинь</p>
                        </div>
                        <div class="price">
                            <div class="price-label">Ціна:</div>
                            <p class="price-value">200$</p>
                        </div>
                    </div>
    
                    <div class="size-container">
                        <p class="Size">Розмір:</p>
                        <div class="button">
                            <img src="/Stastic/Photo/shop/big-jar.png" class="size_b"></img>
                            <img src="/Stastic/Photo/shop/middle-jar.png" class="size_m"></img>
                            <img src="/Stastic/Photo/shop/small-jar.png" class="size_s"></img>
                        </div>
                    </div>
                </div>
                
                <button class="add">Додати в корзину</button>
            </div>    
            
        </div>
    
        <div class="shop-card">
            <!-- <img class="back-pict" src="/Stastic/Photo/shop/shopping-card_back.png" alt="Background"> -->
            <img class="pict" src="/Stastic/Photo/shop/pic-shop.png" alt="Photo">
            <!-- <p class="text">Aромат: мед має ніжний, солодкий смак з ледь вловимими квітковими нотками. 
                Він має гладку кремову текстуру, яка тане в роті.   
                Корисні властивості - мед багатий на антиоксиданти, вітаміни та мінерали. 
                Він має антибактеріальні та протизапальні властивості, що робить його природним засобом від болю в горлі, кашлю та застуди.</p> -->
            <div class="card-container">
                <div class="about-container">
                    <div class="info">
                        <div class="color">
                            <div class="aroma">Аромат:</div>
                            <p class="aroma-value">Квітковий</p>
                        </div>
                        <div class="region">
                            <div class="region-label">Регіон:</div>
                            <p class="region-value">Волинь</p>
                        </div>
                        <div class="price">
                            <div class="price-label">Ціна:</div>
                            <p class="price-value">200$</p>
                        </div>
                    </div>
    
                    <div class="size-container">
                        <p class="Size">Розмір:</p>
                        <div class="button">
                            <img src="/Stastic/Photo/shop/big-jar.png" class="size_b"></img>
                            <img src="/Stastic/Photo/shop/middle-jar.png" class="size_m"></img>
                            <img src="/Stastic/Photo/shop/small-jar.png" class="size_s"></img>
                        </div>
                    </div>
                </div>
                
                <button class="add">Додати в корзину</button>
            </div>    
            
        </div>
    
        <div class="shop-card">
            <!-- <img class="back-pict" src="/Stastic/Photo/shop/shopping-card_back.png" alt="Background"> -->
            <img class="pict" src="/Stastic/Photo/shop/pic-shop.png" alt="Photo">
            <!-- <p class="text">Aромат: мед має ніжний, солодкий смак з ледь вловимими квітковими нотками. 
                Він має гладку кремову текстуру, яка тане в роті.   
                Корисні властивості - мед багатий на антиоксиданти, вітаміни та мінерали. 
                Він має антибактеріальні та протизапальні властивості, що робить його природним засобом від болю в горлі, кашлю та застуди.</p> -->
            <div class="card-container">
    
                <div class="about-container">
    
                    <div class="info">
                        <div class="color">
                            <div class="aroma">Аромат:</div>
                            <p class="aroma-value">Квітковий</p>
                        </div>
                        <div class="region">
                            <div class="region-label">Регіон:</div>
                            <p class="region-value">Волинь</p>
                        </div>
                        <div class="price">
                            <div class="price-label">Ціна:</div>
                            <p class="price-value">200$</p>
                        </div>
                    </div>
    
                    <div class="size-container">
                        <p class="Size">Розмір:</p>
                        <div class="button">
                            <img src="/Stastic/Photo/shop/big-jar.png" class="size_b"></img>
                            <img src="/Stastic/Photo/shop/middle-jar.png" class="size_m"></img>
                            <img src="/Stastic/Photo/shop/small-jar.png" class="size_s"></img>
                        </div>
                    </div>
                
                </div>
                
                <button class="add">Додати в корзину</button>
            </div>    
            
        </div>
    </div>
    
    
    <div class="navi">
        <button class="navi-1"></button>
        <button class="navi-2"></button>
        <button class="navi-3"></button>
    </div>
</div>

</body>
</html>
